{% extends 'base.html' %}
{% load static %}

{% block title %}
Lista de notas
{% endblock title %}

{% block content %}
<main class="container">
    <section>
        <h2 class="text-center text-uppercase mt-3"> {{title}} </h2>
        <br/>
        <div class="row">
            {% for f in listNotes %}
                <div class="col-md-3 mb-3">
                    <div class="card text-black-50" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">{{f.title}}</h5>
                          <h6 class="card-subtitle mb-2 text-body-secondary"> {{f.due_date}} </h6>
                          <p class="card-text"> {{f.description}} </p>
                          <form method="POST" action="{% url 'crear-recordatorio'%}">
                            {% csrf_token %}
                          <button class="btn btn-primary">Crear recordatorio</button>
                          </form>
                          <form method="POST" action="{% url 'eliminar-nota' f.id %}">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">Eliminar</button>
                          </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock content %}