{% extends 'base.html' %}
{% load static %}

{% block title%}
Editar Nota
{% endblock title%}

{% block css %}
{% endblock css %}

{% block content %}
<main class="container form-container">
    <section class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Editar Nota</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-1 offset-md-4 col-md-4">
                    <label class="form-label m-2">{{form.title.label}}</label>
                    {{form.title}}
                </div>
                <div class="mb-3 offset-md-4 col-md-4">
                    <label class="form-label m-2">{{form.description.label}}:</label>
                    {{form.description}}
                </div>
                <div class="mb-3 offset-md-4 col-md-4">
                    <label class="form-label m-2">{{form.due_date.label}}:</label>
                    {{form.due_date}}
                </div>
                <button type="submit" role="submit" class="btn btn-primary offset-md-4 col-md-4">Guardar Cambios</button>
            </form>
        </div>
    </section>
</main>
{% endblock content %}