{% extends 'base.html' %}
{% load static %}

{% block title %}
Crear Recordatorio
{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
<main class="container">
    <section class="row">
        <div class="col-md-8 offset-md-2">
            <h2>{{ title }}</h2>
            <form action="" method="POST">
                {% csrf_token %}
                
                <div class="mb-3 row">
                    <label for="id_date" class="col-md-4 col-form-label">{{ reminderForm.date.label }}:</label>
                    <div class="col-md-8">
                        {{ reminderForm.date }}
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="id_time" class="col-md-4 col-form-label">{{ reminderForm.time.label }}:</label>
                    <div class="col-md-8">
                        {{ reminderForm.time }}
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="offset-md-4 col-md-4">
                        <button type="submit" class="btn btn-primary w-100">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>

{% endblock content %}
