{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
<main class="container mt-5">
    <section class="row">
        <div class="col-md-10 offset-md-1">
            <h2>{{ title }}</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recordatorio in recordatorios %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ recordatorio.name }}</td>
                        <td>{{ recordatorio.date }}</td>
                        <td>{{ recordatorio.time }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No hay recordatorios registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</main>
{% endblock content %}
