{% extends 'base.html' %}
{% load static %}

{% block title %}
Actualizar perfil
{% endblock title %}

{% block content %}
<div class="container mt-4" style="margin-bottom: 200px;">
    <h2>Perfil de Usuario</h2>
    <form method="POST">
        {% csrf_token %}
        {{ user_form.as_p }}
        <button type="submit" class="btn btn-primary">Actualizar Perfil</button>
    </form>
    <hr>
    <h2>Cambiar Contraseña</h2>
    <form method="POST">
        {% csrf_token %}
        {{ password_form.as_p }}
        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
    </form>
</div>
{% endblock content %}
